{% extends '::baseTablas.html.twig' %}

{% block body -%}
    <h1>Imagen creation</h1>

    <form action="{{ path('imagen_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-success" type="submit">Crear</button>
        </p>
    </form>
        <a class="btn" href="{{ path('imagen') }}">
            Volver a la lista
        </a>
{% endblock %}
