{% extends '::baseTablas.html.twig' %}

{% block body -%}
    <h1>TipoProducto creation</h1>

    {{ form(form) }}
        <a class="btn" href="{{ path('tipoproducto') }}">
            Volver a la lista
        </a>
{% endblock %}
