{% extends '::baseTablas.html.twig' %}

{% block body -%}
    <h1>Contacto creation</h1>

    {{ form(form) }}
    <a class="btn" href="{{ path('contacto') }}">
        Volver a la lista
    </a>
{% endblock %}
