{% extends '::base.html.twig' %}

{%block contacto%}
	<ul>
    <li>Contacto</li>
		<div class="box span3" >
			<div class="box-header well" data-original-title>
				<h2><i class="icon-eye-open"></i> Contacto</h2>
			</div>
			<div class="box-content">
				<div class="box-content">
					<dl>
					<dt>Jorim Mella Defranchi</dt>
					<dd>Teléfono : 192319823791</dd>
					<dl>
					
					<dl>
					<dt>Nelson Dussaubat Pedersen</dt>
					<dd>Teléfono : 192319823791</dd>
					<dl>
					
				</div>
			</div>
		</div>			


   </ul>
{% endblock %}
