{% extends '::base.html.twig' %}



{%block body%}
	{% for item in entities %}
		<div class="box span7">
			<div class="box-header well" data-original-title>
				<h2><i class="icon-th"></i> {{item.nombre}}</h2>
			</div>
			{{ render(controller('PpaPaloBundle:Default:articulo', {'idProd': item.id } )) }}
		</div>
			<div class="box span4">
			<div class="box-header well" data-original-title>
				<h2><i class="icon-th"></i> Descripción</h2>
			</div>
						<div class="box-content">
							<br> <p>{{item.descripcion|nl2br}}</p>
							<h2 style="color:red"><spam style="color:green; font-size: 14px;"><FONT SIZE=3></FONT>$  </spam>{{item.precio}}</h2>
						</div>
			</div>

	{% endfor %}
{% endblock %}
