{% extends '::baseTablas.html.twig' %}
{% block body -%}
    <h1>Producto creation</h1>

    {{ form(form) }}
        <a class="btn" href="{{ path('producto') }}">
            Volver a la lista
        </a>
{% endblock %}
