{% extends '::baseTablas.html.twig' %}

{% block body -%}
    <h1>Categoria edit</h1><br>

    {{ form(edit_form) }}
        <a class="btn btn-succes" href="{{ path('categoria') }}">
            Ver lista
        </a>{{ form(delete_form) }}
{% endblock %}
