{% extends '::baseTablas.html.twig' %}

{% block body -%}
    <h1>Categoria creation</h1>

    {{ form(form) }}

        <a class="btn btn-succes" href="{{ path('categoria') }}">
            Volver a lista
        </a>
{% endblock %}
